<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" href="/css/styles.css" type="text/css" media="screen" charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Arimo|Arvo" rel="stylesheet">
    <title>Volunteer Tracker</title>
  </head>
  <body>
    <div class="jumbotron">
      <div class="container">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
