<div class="jumbotron">
  <h1>View and Edit Project Details</h1>
</div>
<div class="container">
  <h2>Project Details</h2>
  <h3><strong>Project Name: </strong><%= @project.project_name() %></h3>

  <% if @project.volunteers(@project.id()).any?() %>
    <h3><strong>These are all the volunteers in this project:</strong></h3>

    <ul>
      <% @project.volunteers(@project.id()).each() do |volunteer|%>
        <%= "<li>#{volunteer.first_name()} #{volunteer.last_name()} | Hours Contributed: #{volunteer.hours()}</li>" %>
      <% end %>
    </ul>

  <% else %>
    <p>
      There are no volunteers on this project!
    </p>
  <%end%>

  <p><a href="/projects/<%= @project.id() %>/edit" class="btn btn-info">Edit Project Details</a></p>
  <a href="/" class="btn">Home</a>
</div>
