<div class="jumbotron">
  <h1><%= @project.project_name() %></h1>
</div>
<div class="container">
  <p><a href="/projects/<%= @project.id() %>/edit">Edit <%= @project.project_name() %></a></p>
  <p><a href="/">Return to Main Page</a></p>

  <% if @project.volunteers(@project.id()).any?() %>
    <h3>Here are all the volunteers in this project:</h3>

    <ul>
      <% @project.volunteers(@project.id()).each() do |volunteer|%>
        <%= "<li>#{volunteer.first_name()} #{volunteer.last_name()} | Hours Contributed: #{volunteer.hours()}</li>" %>
      <% end %>
    </ul>

    <% else %>
      <p>
        There are no tasks on this project!
      </p>
    <%end%>

  <a href="/" class="center-link">Home</a>
</div>
