<div class="jumbotron">
  <h1>View and Edit Project Details</h1>
</div>
<div class="container">
  <h2>Volunteer Details:</h2>
  <h3><strong>Volunteer Name: </strong><%= @volunteer.first_name() %> <%= @volunteer.last_name() %> </h3>
  <h3><strong>Current Hours:</strong> <%= @volunteer.hours()%> </h3>

  <p><a href="/volunteers/<%= @volunteer.id() %>/edit" class="btn btn-info">Edit Volunteer Details</a></p>

  <a href="/" class="btn">Home</a>
</div>
