<div class="jumbotron">
  <h1>View and Edit Volunteer Details</h1>
</div>
<div class="container">

  <h2>Update Volunteer Details:</h2>
    <form action="/volunteers/<%= @volunteer.id() %>" method="post">
      <input name="_method" type="hidden" value="patch">
      <div class="form-group">
        <label for="hours">Hours Volunteer has Contributed to Project:</label>
        <input id="new-hours" name="new-hours" type="number" class="form-control" val="">
      </div>

      <button type="submit" class="btn btn-warning">Update</button>
    </form>

    <form action="/volunteers/<%= @volunteer.id() %>" method="post">
      <input type="hidden" name="_method" value="delete">

      <button type="submit" class="btn btn-danger">Delete volunteer</button>
    </form>
  </div>
  <a href="/" class="btn">Home</a>
</div>
