.jumbotron {
  background-image: url("/img/Header.jpg");
  max-height: 200px;
  text-align: center;
}

h1 {
  font-family: 'Bowlby One SC', cursive;
}

.jumbotron h1 {
  color: #8CE9E9;
  text-shadow: -1px 1px #000;
}

body {
  font-family: 'Arimo', sans-serif;
}

body h2 {
  font-family: 'Bowlby One SC', cursive;
  text-shadow: -1px 1px #000;
  color: #01B28F;
}

.btn-primary {
  background-color: #01B28F;
  border: 0px;
  font-size: 20px;
  text-shadow: -0.6px 0.6px #000;
  }

.btn-info {
  background-color: #8CE9E9;
  border: 0px;
  font-size: 20px;
  text-shadow: -0.6px 0.6px #000;
}

.btn {
  display: block;
  margin: auto;
  width: 300px;
  margin-top: 10px;
  border: 0;
}

@media screen and (min-width: 753px) {
  .jumbotron h1 {
    font-size: 50px;
  }
}
